menu "Platform Device Configuration"

menuconfig RT_USING_GT9147
    bool "Enable GT9147 device"
    select RT_USING_I2C
    default y

    if RT_USING_GT9147
        config BSP_TOUCH_POINT_NUM
            int "Number of touch point"
            default 5
    endif

menuconfig RT_USING_PCF8574
    bool "Enable PCF8574 device"
    select RT_USING_I2C
    default y

    if RT_USING_PCF8574
        config BSP_PCF_COL_NUM
            int "Number of column per row"
            default 16
        config BSP_PCF_ROW_NUM
            int "Number of row per column"
            default 2
    endif

menuconfig RT_USING_DS1307
    bool "Enable DS1307 device"
    select RT_USING_I2C
    default y

menuconfig RT_USING_MPU6050
    bool "Enable MPU6050 device"
    select RT_USING_I2C
    default y

menuconfig RT_USING_EEPROM
    bool "Enable EEPROM device"
    select RT_USING_I2C
    default y
    
    if RT_USING_EEPROM
        config BSP_EEPROM_DOUBLE_BAK_EN
            bool "Enable double backup"
            default n
        config BSP_EEPROM_SIZE
            int "Total size of eeprom"
            default 4096
        config BSP_EEPROM_PAGE_SIZE
            int "Page size of eeprom"
            default 32
    endif

menuconfig RT_USING_ENET
    bool "Enable Ethernet device"
    default y

    if RT_USING_ENET
        config RT_USING_LAN8720
            bool "Enable LAN8720"
            default y
    endif

menuconfig RT_USING_CAMERA
    bool "Enable Camera device"
    default y

    if RT_USING_CAMERA
        config RT_USING_OV2640
            bool "Enable OV2640"
            default y
    endif

endmenu
