menu "Third-party Libraries Configuration"

config RT_USING_LVGL
    bool "Enable LittlevGL"
    default n

    if RT_USING_LVGL
        config BSP_USING_LVGL_GPU
            bool "Enable littlevGL GPU"
            default n
        config BSP_USING_LVGL_EXAMPLE
            bool "Using littlevGL examples"
    endif

endmenu
